PORT=3000
NODE_ENV=development

POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password
POSTGRES_DB=my_db

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_BUCKET_NAME=luxury-auto-rent-images

STRIPE_SECRET_KEY=your_secret_key_here
STRIPE_WEBHOOK_SECRET=your_webhook_secret_key_here

SLACK_WEBHOOK_URL=your_url_here

BETTER_AUTH_SECRET=your_secret_key_here
BETTER_AUTH_URL=your_url_here
